<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HaushaltsbuchDB"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\marti\source\repos\MartinsHaushaltsbuch\dbHaushaltsbuch.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>