<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Initiierung des globalen Connectionstrings für die Datenbank mit Konten, Kategorien und Buchungen -->
	<connectionStrings>
		<add name="HaushaltsbuchDB"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\marti\source\repos\MartinsHaushaltsbuch\Datenbank\dbHaushaltsbuch.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>